venv
__pycache__
.idea
chapters.txt
.DS_Store
*.pyc
*.wav
*.mp3
*.epub
*.sh
*.json
*.onnx
dist
.venv
# 移除旧的配置
# /frontend/node_modules

# 添加新的配置（这些都是等效的，选择一个即可）
frontend/node_modules/
frontend/node_modules/**